<meta name="keyword" content="<%=@data.metakey%>">
<meta name="description" content="<%=@data.metadesc%>">
<div class="contentblog_parent" style="min-height: 100vh;">
<div class="contentblog">
<h1 class="ctitle"><%=@data.title%></h1><br>
<div class="cauthor"><p><%=@data.author%></p><br>
<p  class="ccalender"><i class="fas fa-calendar-week"></i> <%=@data.date.to_date.strftime("%d/%m/%y")%></p><br></div>
<p class="cbody"><%=@data.body%></p><br>
</div>
</div>