<div id="blogindex">
<div id="main_blog_front">
	<a href="<%=contentpage_path(Top3.first.post_id)%>">
		<div id="mbf1" style="background-image: url(<%=rails_blob_url(Content.find(Top3.first.post_id).img)%>)">
		<div class="first_text"><h2 style="text-align: center;"><%=Content.find(Top3.first.post_id).title%></h2>
		</div>
	</div>
</a>
	<div id="main_blog_sec">
	<a href="<%=contentpage_path(Top3.second.post_id)%>"><div class="mbf2" style="background-image: url(<%=rails_blob_url(Content.find(Top3.second.post_id).img)%>)">
			<div style="height:70%"></div>
				<div class="first_text"><h2 style="text-align: center;"><%=Content.find(Top3.second.post_id).title%></h2>
		</div>

			
		</div>
	</a>
	<a href="<%=contentpage_path(Top3.third.post_id)%>">	<div class="mbf2" style="background-image: url(<%=rails_blob_url(Content.find(Top3.last.post_id).img)%>">
			<div style="height:70%;"></div>
				<div class="first_text"><h2 style="text-align: center;"><%=Content.find(Top3.last.post_id).title%></h2>
		</div>
			
		</div>
	</a>
	</div>
</div>
<h2 id="latestnews" >Latest News</h2>
<div id="secondary_blog_front">

	<%@contents.each do |t|%>
	<a href="<%=contentpage_path(t.id)%>">
<div class="blog_points">
	
	<div id="bpimg"><%=image_tag t.img%></div>
	<div class="sectitle"><p><%=t.title%></p></div>
</div>
</a>
	<%end%>
</div>
</div>
